<div class="chatroom-header">
  <h2 class="card-title">My group chats</h2>
  <div class="button-right py-3" style="text-align: right;">
    <%= link_to new_event_path, class: "btn2" do %>
      <i class="fa-solid fa-plus"></i>
    <% end %>
  </div>
</div>
<div class="chatroom">
  <div class="button-right px-2 py-3" style="text-align: right;">
    <%= link_to "Create an event", new_event_path, class: "btn2" %>
  </div>
  <div class="search mt-2 mb-4">
    <%= form_with url: chatrooms_path, method: :get, class: "d-flex search-margin" do %>
      <%= text_field_tag :event_name,
        params[:event_name],
        class: "form-control",
        placeholder: "Search for an event name"
      %>
      <%= submit_tag "Search", class: "btn1" %>
    <% end %>
  </div>
  <div>
    <% @chatrooms.each do |chatroom| %>
      <%= link_to chatroom_path(chatroom), class:"text-decoration-none", style:"color: #0E1B14;" do %>
        <div class="chat-index-item d-flex">
          <p><%= chatroom.event.name %></p>
          <p style="font-size:13px;">on: <%= chatroom.event.date.strftime('%a %d %b %Y') %>, <%= chatroom.event.date.strftime('%I:%M %p') %></p>
        </div>
      <% end %>
    <% end %>
  </div>
</div>
