<div class="chatroom-header">
  <h1 class="mt-2">#<%= @chatroom.event.name %></h1>
</div>
<div
  class="container chatroom"
  data-controller="chatroom-subscription"
  data-chatroom-subscription-chatroom-id-value="<%= @chatroom.id %>"
  data-chatroom-subscription-current-user-id-value="<%= current_user.id %>"
>

  <div
    class="messages py-2"
    data-chatroom-subscription-target="messages"
    style="margin-bottom:80px;"
  >
    <% @chatroom.messages.each do |message| %>
      <div
        class="message-row d-flex <%= message.sender?(current_user) ? 'justify-content-end' : 'justify-content-start' %>"
      >
        <div
          class="<%= message.sender?(current_user) ? 'sender-style' : 'receiver-style' %>"
        >
          <%= render "messages/message", message: message %>
        </div>
      </div>
    <% end %>
  </div>
  <div>
    <%= simple_form_for [@chatroom, @message],
        html: { data: { action: "turbo:submit-end->chatroom-subscription#resetForm", controller: "image-upload" }, class: "d-flex", style: "position:fixed; bottom: 60px; width: 95%;" } do |f| %>
      <%= f.error_notification %>
      <span
        class="btn1 mt-4 mb-4 pr-2"
        style="border-radius:50%"
        data-action="click->image-upload#select"
      >
        <i class="fa-solid fa-plus"></i>
      </span>
      <%= f.input :content,
              label: false,
              placeholder: "Message ##{@chatroom.event.name}",
              wrapper_html: {
                class: "flex-grow-1"
              } %>
      <div style="display: none">
        <%= f.input :photo, as: :file, label: false, class: "btn btn1 mb-3" %>
      </div>
      <%= f.submit "Send", class: "btn1 mb-3" %>
    <% end %>
  </div>

</div>

<div class="input-group mb-3">
  <div class="input-group-prepend">
    <button class="btn1" type="button">+</button>
  </div>
  <div class="custom-file">
    <input type="file" class="custom-file-input" id="inputGroupFile03">
  </div>
</div>
