<div class="container">
  <ul class="list-group">
  <%# almost certainly won't have email here in final version %>
    <li class="list-group-item"><%= "email: #{@user.email}" %></li>
    <li class="list-group-item"><%= "username: #{@user.username}" %></li>
    <li class="list-group-item"><%= "bio: #{@user.bio}" %></li>
    <li class="list-group-item"><%= cl_image_tag(@user.avatar.key, height: 140, width: 140, crop: :fill) %></li>
  </ul>

  <%= link_to "Edit profile", edit_user_path(@user) %>
</div>

