<div class="navbar navbar-expand-sm navbar-lewagon">
  <%# <div class="container-fluid"> %>
    <ul class="navbar-custom">
      <% if user_signed_in? %>
        <li class="nav-item active">
          <%= link_to events_path do %>
            <i class="fa-solid fa-magnifying-glass"></i>
          <% end %>
          <p>Search</p>
        </li>
        <li class="nav-item">
          <%= link_to events_path do %>
            <i class="fa-solid fa-calendar-days"></i>
          <% end %>
          <p>Events</p>
        </li>
        <li class="nav-item active">
          <%= link_to events_path do %>
            <i class="fa-regular fa-message"></i>
          <% end %>
          <p>Chats</p>
        </li>
        <li class="nav-item" id="profile">
          <%= link_to events_path do %>
            <i class="fa-regular fa-user"></i>
          <% end %>
          <p>Profile</p>
        </li>
      <% else %>
        <li class="nav-item">
          <%= link_to "Login", new_user_session_path, class: "nav-link" %>
        </li>
      <% end %>
    </ul>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
    </div>
  <%# </div> %>
</div>
