<div class="container">

  <% if @events.any? %>
    <div class="row">
      <%= render "shared/map" %>
    </div>
  <% end %>

  <div class="row m-2 d-flex">
    <%= simple_form_for(:search, method: :get, url: events_path, defaults: { input_html: { class: 'd-inline-flex mt-3'} }) do |f| %>
      <%# <div class="row d-flex justify-content-left" > %>
        <%# <div class="col-12 mt-1"> %>
          <%= f.input_field :name_sport_or_location,
                      class: 'form-control mt-3',
                      label: false,
                      placeholder: "A name, a sport or a location" %>
        <%# </div> %>
      <%# </div> %>
      <div class="row d-flex justify-content-left">
        <div class="col-6">
          <div class="form-group">
            <%= f.input :start,
                        as: :date,
                        autofocus: true,
                        label: false,
                        html5: true, class: "form-control" %>
          </div>
        </div>
        <div class="col-6">
          <div class="form-group">
            <%= f.input :end,
                        as: :date,
                        autofocus: true,
                        label: false,
                        html5: true, class: "form-control" %>
          </div>
        </div>
        <div class="col-2 m-1">
          <%= submit_tag "Search", class: "btn1" %>
        </div>
      </div>
    <% end %>
  </div>

  <div class="container py-5">
    <div class="d-flex align-items-center justify-content-between mb-3">
      <h3 class="mb-0 card-title">Events</h3>
      <div class="button-right" style="text-align: right;">
        <%= link_to "Create an event", new_event_path, class: "btn2" %>
      </div>
    </div>
    <div class="row">
      <div class="filter d-flex">
        <h4 class="main-title">filter for: &nbsp; </h4>
        <%= link_to "all", events_path(anchor: 'filter'), class:"btn1", style:"margin-right:20px;" %>
        <%= link_to "Looking for Players", events_path(filter: "looking", anchor: 'filter'), class:"btn1", style:"margin-right:20px;" %>
        <%= link_to "Reached Capacity", events_path(filter: "full", anchor: 'filter'), class:"btn1", style:"margin-right:20px;" %>
      </div>
      <% if @events.any? %>
        <% @events.each do |event| %>
          <% if event.date.after?(Date.yesterday) && event.capacity > Play.where(event: event).count %>
            <%= render "shared/card", event: event %>
          <% end %>
        <% end %>
      <% else %>
        <p>no events found!</p>
      <% end %>
    </div>
  </div>
</div>
