<div class="container">

  <% if @events.any? %>
    <div class="row">
      <%= render "shared/map" %>
    </div>
  <% end %>

  <div class="row m-2 d-flex">
    <%= simple_form_for(:search, method: :get, url: events_path, defaults: { input_html: { class: 'd-inline-flex mt-3'} }) do |f| %>
      <%# <div class="row d-flex justify-content-left" > %>
        <%# <div class="col-12 mt-1"> %>
          <%= f.input_field :name_sport_or_location,
                      class: 'form-control mt-3',
                      label: false,
                      placeholder: "A name, a sport or a location" %>
        <%# </div> %>
      <%# </div> %>
      <div class="row d-flex justify-content-left">
        <div class="col-6">
          <div class="form-group">
            <%= f.input :start,
                        as: :date,
                        autofocus: true,
                        label: false,
                        html5: true, class: "form-control" %>
          </div>
        </div>
        <div class="col-6">
          <div class="form-group">
            <%= f.input :end,
                        as: :date,
                        autofocus: true,
                        label: false,
                        html5: true, class: "form-control" %>
          </div>
        </div>
        <div class="col-2 m-1">
          <%= submit_tag "Search", class: "btn1 " %>
        </div>
      </div>
     <% end %>
  </div>

  <div class="container py-5">
    <div class="d-flex align-items-center justify-content-between mb-3">
      <h3 class="mb-0 card-title">Events</h3>
      <%= link_to "Create an event", new_event_path, class: "btn2" %>
    </div>
    <div class="row">
      <% if @events.any? %>
        <% @events.each do |event| %>
          <div class="co-12 col-sm-6 col-md-4 mb-3">
            <%= link_to event_path(event), class:"text-decoration-none" do %>
              <div class="col mb-4"  style="width:300px;">
                <div class="card position-relative">
                  <%= cl_image_tag(event.photo.key, height: 260, width: 260, crop: :fill, class:"card-img-top event-img") if event.photo.key %>
                <div class="card-body">
                <h5 class="card-title fw-bold"><%= event.name %></h5>
                 <p class="card-text"> <i class="fa-solid fa-location-crosshairs"></i> <%= event.location %></p>
             </div>
           </div>
          </div>
            <% end %>
          </div>
        <% end %>
      <% else %>
        <p>no events found!</p>
      <% end %>
    </div>
  </div>
</div>
