<div class="show mb-3">
  <% if @event.photo.attached? %>
    <%= cl_image_tag @event.photo.key, style: "width:100%; height:320px;" %>
  <% else %>
    <%= image_tag "event_background.jpg", style: "width:100%; height:320px; box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25)" %>
  <% end %>
  <div class="d-flex" data-controller="share-button">
    <div class="container card-info">
      <h1 class="card-title"> <%= @event.name %></h1>
      <p class="fw-light text-font"><%= @event.sport.capitalize %></p>
      <p class="fw-light text-font">Created by <%= link_to "@#{(@event.user == current_user ? "you" : @event.user.username)}", user_path(@event.user) %></p>
    </div>
    <div class="mt-3">
      <%= social_share_button_tag(@event.name , :allow_sites => %w(twitter facebook whatsapp)) %>
    </div>
  </div>
  <div class="card p-3 mx-3">
    <%= render "event_details" %>
    <div class="card-comp">
      <%= @event.description %>
      <% if current_user.nil? %>
        <strong><p class="mt-2">Must be logged in to join game</p></strong>
      <% else %>
        <% if @players.include?(current_user.id) %>
          <%= render "participants" %>
          <br>
          <h3>You have joined this fun game</h3>
          <%= render "joined_event_buttons" %>
          <%= render "participants" %>
        <% else %>
          <%= simple_form_for [@event, @play] do |f| %>
            <%= f.error_notification %>
            <div class="btn-wrapper d-flex justify-content-between">
              <p class="mt-4"><%= f.submit "JOIN", class: "btn1"%></p>
            </div>
          <% end %>
        <% end %>
      <% end %>
    </div>
  </div>
   <% if @players.include?(current_user.id) && @event.date.before?(DateTime.now) %>
    <%= render "reviews" %>
   <% end %>
</div>
